<% @lists.each do |list| %>
  <div class="row justify-content-center my-3">
    <div class="col-6">
      <div class="card">
        <div class="card-header"><%= list.name %></div>
        <div class="card-body">
          <div class="list-group list-group-flush">
            <% list.tasks.pending_first.each do |task| %>
              <% if task.completed? %>
                <del><div class="list-group-item"><%= task.name %></div></del>
              <% else %>
                <div class="list-group-item"><%= task.name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %> 